<main class="min-h-screen w-full pb-20 pt-6 md:pb-0 md:pt-0">
  <div class="mx-auto w-full max-w-md px-4 md:max-w-none md:flex md:items-start md:px-0">
    <aside
      class="hidden md:sticky md:top-0 md:block md:h-screen md:w-64 md:shrink-0 md:self-start lg:w-[20vw]"
    >
      @if (isAdminRoute()) {
        <app-admin-side-nav />
      } @else {
        <app-side-nav />
      }
    </aside>

    <section
      class="md:min-w-0 md:flex-1 md:px-4 lg:ml-[5vw] lg:shrink-0 lg:px-0"
      [class.lg:w-[45vw]]="!hideSidebar()"
      [class.lg:w-[70vw]]="hideSidebar()"
      [class.lg:mr-[5vw]]="hideSidebar()"
    >
      <router-outlet />
    </section>

    @if (!hideSidebar()) {
      <aside class="hidden lg:ml-[3vw] lg:mr-[2vw] lg:block lg:w-[25vw] lg:shrink-0 lg:self-stretch">
        <app-feed-right-sidebar />
      </aside>
    }
  </div>
</main>

@if (!isAdminRoute()) {
  <div class="md:hidden">
    <app-bottom-nav />
  </div>
}
